<%- include ('../partials/header1.html') %>

  </head>

  <body>

    <content>
      <main class="main">
        <div class="login-form">
          <div class="header__logo">
            <img src="/images/logo.png" alt="library management  logo" />
          </div>
          <h2 class="heading-secondary ma-bt-lg" id="login-header">Log into your account</h2>
          <form action="/auth/admin-login" method="POST">
            <div class="form-group">
              <label id="exampleInput1" for="exampleInputEmail1">Username</label>
              <input type="name" name="username" class="form-control" id="exampleInput1" aria-describedby="emailHelp"
                placeholder="Enter username" minlength="5" required="required">
            </div>
            <div class="form-group">
              <label id="exampleInput1" for="exampleInputPassword1">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInput1"
                placeholder="Enter Password" required="required" minlength="8">
            </div>
            <button type="submit" class="btn btn-primary">Login</a></button>
          </form>
        </div>
      </main>
    </content>
  </body>

  </html>