<%- include ('../partials/header1.html') %>
  </head>

  <body>

    <%- include ('../partials/alerts.html') %>
      <content>
        <main class="main">
          <div class="login-form">
            <div class="header__logo">
              <img src="/images/logo.png" alt="library management  logo" />
            </div>
            <h2 class="heading-secondary ma-bt-lg" id="login-header">Log into your account</h2>
            <form action="/auth/user-login" method="POST">
              <div class="form-group">
                <label id="exampleInput1" class="form-control-label">Username</label>
                <input id="exampleInput1" type="text" name="username" placeholder="Enter username" class="form-control"
                  required minlength="5" />
              </div>
              <div class="form-group">
                <label id="exampleInput1" class="form-control-label">Password</label>
                <input id="exampleInput1" type="password" name="password" placeholder="Enter Password"
                  class="form-control" minlength="8" required />
              </div>
              <button type="submit" class="btn btn-primary">Login</a></button>
              
            </form>
          </div>
        </main>
      </content>
  </body>

  </html>
  <!-- 
<section id="userLoginForm">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center">
            <h4>User Login</h4>
          </div>
          <div class="card-block">
            <form class="p-3" action="/auth/user-login" method="POST">
              <div class="form-group">
                <label class="form-control-label">Username</label>
                <input type="text" name="username" placeholder="Username" class="form-control" />
              </div>
              <div class="form-group">
                <label class="form-control-label">Password</label>
                <input type="password" name="password" placeholder="Password" class="form-control" />
              </div>
              <button type="submit" class="btn btn-primary btn-block">Login!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ('../partials/footer.html') %> -->