<%- include ('../partials/header1.html') %>

</head>

<body>

<content>
  <main class="main">
      <div class="login-form">
          <div class="header__logo">
              <img src="/images/logo.png" alt="library management  logo"/>
          </div>
          <h2 class="heading-secondary ma-bt-lg" id="login-header" style="text-align: center;">SignUp as Student</h2>
          <form action="/auth/user-signUp" method="POST">
            
              <div class="form-group">
                <label id="exampleInput1" class="form-control-label">First Name</label>
                <input id="exampleInput1" type="text" name="firstName" placeholder="Enter firstName" class="form-control" required />
              </div>

              <div class="form-group">
                <label id="exampleInput1" class="form-control-label">Last Name</label>
                <input id="exampleInput1" type="text" name="lastName" placeholder="Enter lastName" class="form-control" required />
              </div>

              <div class="form-group">
                <label id="exampleInput1" class="form-control-label">Username</label>
                <input id="exampleInput1" type="text" name="username" placeholder="Enter username" class="form-control" minlength="5" required />
              </div>

              <div class="form-group">
                <label id="exampleInput1" class="form-control-label">Email</label>
                <input id="exampleInput1" type="email" name="email" placeholder="Enter email" class="form-control" required />
              </div>

              <div class="form-group">
                <label id="exampleInput1" class="form-control-label">Password</label>
                <input id="exampleInput1" type="password" name="password" placeholder="Enter password" class="form-control" minlength="8" required />
              </div>

              <div class="form-group">
                <label id="exampleInput1" class="form-control-label">Gender</label>
                <select id="exampleInput1" name="gender" class="form-control">
                  <option name="male">Male</option>
                  <option name="female">Female</option>
                  <option name="others">Others</option>
                </select>
              </div>

              <div class="form-group">
                <label id="exampleInput1" class="form-control-label">Address</label>
                <input id="exampleInput1" type="text" name="address" placeholder="Enter address" class="form-control" required />
              </div>
                <button type="submit" class="btn btn-primary">SignUp</button>
            </form>
      </div>
  </main>
</content>
</body>
</html>
